.about {
      /*Чтобы выровнять по центру*/
      box-sizing: border-box;
      padding: 0 60px;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      gap: 110px;
}

.content__article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
}

.content__title {
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      text-align: start;
      font-size: 44px;
      line-height: 60px;
      font-weight: 700px;
}

.content__title:last-of-type {
      margin-bottom: 21px;
}

.content__text {
      box-sizing: border-box;
      max-width: 497px;

      margin: 0 0 38px 0;
      /* height: 66px; */
      /*font-style: Regular;*/
      text-align: start;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400px;
      margin-bottom: 38px;
}



.about__image-container {
      width: 243px;
      height: 243px;

      background-color: #EDF7FA;
      border-radius: 50%;
}

.about__image {
      width: 243px;
      height: 243px;

      object-fit: cover;
      object-position: center center;
      background-size: cover;
      position: relative;
      top: -13px;
      left: 5px;
}

.about__download {
      box-sizing: border-box;
      padding: 15px 20px;
      width: 210px;
      /* margin-left: 2px; */
      /* margin-bottom: 71px; */
      border-radius: 2px;
      border: none;
      background-color: #FF6464;

      color: #FFFFFF;
      font-size: 20px;
      line-height: 29x;
      font-weight: 500px;
      text-align: center;
}

@media screen and (max-width: 765px) {
      .about {
            flex-direction: column-reverse;
            align-items: center;

            gap: 34px;
      }

      .content__article {
            align-items: center;
      }

      .content__title {
            text-align: center;

            font-size: 32px;
            line-height: 40px;
      }

      .content__text {
            width: 328px;
            margin-bottom: 27px;

            text-align: center;
      }

      .about__image-container {
            width: 170.86px;
            height: 170.86px;
      }

      .about__image {
            width: 170.86px;
            height: 170.86px;
      }
}