@import url(../header/header.css);
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../footer/footer.css);
@import url(../about/about.css);
@import url(../feature/feature.css);
@import url(../resent/resent.css);

.body {
  box-sizing: border-box;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-family: 'Heebo', Segoe UI, Tahoma, Geneva;
  color: #21243D;
  flex-wrap: wrap;
}

.something {
  box-sizing: border-box;
margin-left: 148px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
 /* text-align: left;/*/
}

@media screen and (max-width: 375px) {
  .something {
    /*text-align: center;/*/
    margin-top: 3px;
    font-size: 18px;
 margin-left: 126px;
  }
}